framework: net45, netstandard2.0, netcoreapp2.0
source https://api.nuget.org/v3/index.json

nuget FSharp.Core ~> 4.3.4 lowest_matching:true
nuget System.ValueTuple
nuget FSharp.Control.AsyncSeq >= 2.0.21 lowest_matching: true

nuget Confluent.Kafka ~> 0.11.4 lowest_matching:true

nuget NUnit ~> 3.0
nuget NUnit3TestAdapter ~> 3.0
nuget Microsoft.NET.Test.Sdk
nuget Newtonsoft.Json ~> 11.0

group Build
  framework: net45
  source https://api.nuget.org/v3/index.json
  
  nuget FAKE
  github fsharp/FAKE modules/Octokit/Octokit.fsx